<h1>Login!</h1>

<%= form_for :login do |f| %>
	<%= f.text_field :username, placeholder: 'Username' %><br>
	<%= f.password_field :password, placeholder: 'Password' %>
	<%= f.submit 'Log In' %>
<% end %>

<p>
	<%= link_to 'Sign-up!', new_user_path %>
</p>
