<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @group.topic %>
</p>

<p>
  <strong>Date:</strong>
  <%= @group.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @group.time %>
</p>

<%= link_to 'Join Group', join_path, method: :get %> |
<%= link_to 'Leave Group', leave_path(@attending), method: :get %> |
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
