<h1>Create Account:</h1>

<%= form_for @user do |f| %>
	<%= f.text_field :name, placeholder: 'Name' %><br>
	<%= f.text_field :email, placeholder: 'Email' %><br>
	<%= f.password_field :password, placeholder: 'Password' %><br>
	<%= f.submit 'Add New User' %>
<% end %>
